/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */

:root {
  --main-bg: rgb(235, 235, 235);
  --secondary-bg:rgba(228, 228, 228, 0.788);
  --seconday-color: rgb(30, 208, 221);
  --box-shadow-color:rgb(180, 180, 180);
}

body {
  font-family: 'Raleway', sans-serif;
  color: black;
}

h1,
h2,
h3 {
  color: black;
}

p {
  font-size: 1.2em;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

span {
  color: var(--seconday-color);
  font-weight: 600;
}

figure {
  width: 100%;
  margin: 0;
}

header,
footer,
#skills,
#about,
#projects {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}

.content-wrapper {
  width: 95%;
  margin: 0 auto;
}


/*      Navbar      */
nav {
  position: sticky;
  top: 0;
  padding-top: 15px;
  padding-bottom: 20px;
  background: var(--main-bg);
  box-shadow: 0px 10px 60px var(--box-shadow-color);
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li i {
  color: var(--seconday-color);
}

nav ul li {
  padding: 5px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: right;
}

.nav-item {
  transition: background-color .5s ease-in-out, color .2s ease-in-out;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
}


/*       Header      */
header {
  margin: 10em 0;
  padding: 0 0 12em 0;
}

.hello {
  font-size: 1.5em;
}

.greeting span.hello {
  font-size: 1.5em;
}

header h3 {
  line-height: 2em;
}


/*     Projects      */
main {
  margin-top: 3rem auto;
  box-shadow: 0px -4px 14px var(--box-shadow-color);
}

#projects {
  padding-top: 20px;
  background: var(--secondary-bg);
  box-shadow: 0px 4px 5px var(--box-shadow-color);
}

.projects-header {
  font-size: 2.34rem;
  font-weight: bolder;
  color: var(--seconday-color);
  text-shadow: 2px 3px 23px grey;
  margin-bottom: 0;
  margin-top: 60px;
  padding: 10px;
}

.projects-subtitle {
  font-style: italic;
  text-shadow: 2px 4px 12px rgba(228, 228, 228, 0.6);
}

.project-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.project-item {
  margin-top: 50px;
  margin-bottom: 30px;
}

.project-item figure {
  box-shadow: 10px 7px 12px var(--box-shadow-color), 
  -6px -6px 23px var(--box-shadow-color);
}

 figure img {
  max-width: 100%;
}

.project-item h3 {
  font-size: 1.5rem;
  padding-top: 15px;
  padding-bottom: 20px;
}

.project-description {
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 1.5em;
}

.project-skills {
  padding-bottom: 10px;
}

.project-skills span { 
  font-size: 1.24em;
}

.project-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project-area p {
  text-align: left;
}

.project-link {
  transition: color .2s ease-in-out, background-color .3s ease-in-out;
  max-width: 100%;
  font-size: 1.4rem;
  text-transform: uppercase;
  background-color: #453E4F;
  color: white;
  border-radius: 30px;
  padding: 0.75rem 0;
  margin: 40px 0;
}


/*        Skills         */
.skills-header {
  font-size: 2.34rem;
  font-weight: bolder;
  color: var(--seconday-color);
  text-shadow: 2px 3px 23px grey;
  padding-top: 60px;
  margin-bottom:0;
}

.skills-subheader,
.tool-subheader {
  padding: 30px 0;
  font-size: 1.5em;
}

.skill {
  background-color: #0bcad8;
  box-shadow: 0px -10px 23px var(--box-shadow-color);
  color: white;
  padding: 15px 0px;
}

.tools-wrap {
  padding-bottom: 80px;
}

.tool {
  background-color: #0bcad8;
  box-shadow: 0px -10px 23px var(--box-shadow-color);
  color: white;
  padding: 15px 0px;
  margin: 20px 0;
}



/*      About      */
#about {
  background-color: var(--secondary-bg);
  box-shadow: 0px -4px 14px var(--box-shadow-color);
  width: 100%;
  padding-top: 90px;
}

.selfie {
  width: 100%;
}

#about h1 {
  padding-top: 40px;
  padding-bottom: 50px
}

.about-description h1 {
  font-size: 2.5rem;
}

#about h2 {
  padding-bottom: 40px;
}

#about p {
  text-align: left;
  line-height: 1.6rem;
  padding-bottom: 80px;
}



/*      Footer       */
#contact {
  padding-top: 80px;
}

#contact h1 {
  padding-bottom: 50px;
  text-shadow: 4px 5px 12px var(--box-shadow-color);
}

#contact h3 {
  padding-bottom: 30px;
}

.hire-me,
.social,
.location,
.copyright {
  padding-bottom: 50px;
}



footer h3 {
  font-weight: lighter;
  font-size: 1.5em;
  color: var(--seconday-color);
  text-shadow: 4px 5px 12px var(--box-shadow-color)
}


.social-icons {
  padding: 0px 1.23rem;
  display: flex;
  justify-content: space-around;
}

.social-icons i {
  transition: color .2s ease-in-out;
  font-size: 2.4rem;
}


  
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
/*        Tablet styles        */


/*        General       */
.content-wrapper {
  max-width: 700px;
}



/*       Navbar         */
.nav-item:hover {
  background-color: #a59e92;
  color: white;
}

/*      Header       */
header h1 {
  padding: 40px 0px;
  font-size: 3.2em;
}

header h3 {
  font-size: 1.5em;
}

/*      Projects       */
.project-area {
justify-content: space-between;
}

.project-item {
  width: 45%;
}

.projects-header {
  font-size: 3.23em;
}

.project-link:hover {
  color: var(--seconday-color);
  background-color: white;
}



/*        Skills       */
.skills-header {
  font-size: 3em
}

.skill, 
.tool {
  width: 45%;
  text-transform: uppercase;
}

.skills-wrap,
.tools-wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}



/*    About    */
.about-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#about h2,
#about p {
  text-align: left;
}



/*    Footer     */
.footer-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.copyright {
  display: flex;
  flex-flow: row wrap
}

.social,
.hire-me,
.location {
  width: 33%;
}

.social-icons i {
  padding: 0 10px;
}

.social-icons i:hover {
  color: var(--seconday-color)
}

}

@media only screen and (min-width: 1200px) { 
/*      Desktop        */


/*    Gerenal    */
.content-wrapper {
  max-width: 1450px;
}



h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}



/*    Header     */   
nav ul {
  justify-content: flex-end;
}

.header-content {
  width: 100%;
}

header h3 {
  max-width: 95%
}


/*    Projects     */
.project-area {
  justify-content: space-around;
}

.project-item {
  width: 30%;
}



/*    Skiils     */
#skills .content-wrapper {
  max-width: 900px;
}



/*    About    */
.about-wrapper {
  display: flex;
  justify-content: space-between;
}

.about-description {
  width: 50%;
}

#about figure {
  width: 35%;
}
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

